<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/img/estilos/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/estilo.css">
    <title>nosotros</title>
</head>

<body class="container-fluid p-0 col-xl-10">
    <header class=" navbar-expand-lg navbar-light bg-light p-0">
        <nav class="container-fluid navbar">
            <div class="logo">
                <a href="../index.html">
                    <p>
                        kyomu
                        <span>
                            bonsai
                        </span>
                    </p>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse 
                    justify-content-end" id="navbarNavDropdown">

                <ul class="navbar-nav w-75 justify-content-evenly ">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">
                            Inicio
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link 
                                dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Nosotros
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="nosotros.html#quienesSomos">
                                    Quienes somos
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="nosotros.html#nuestraFilosofia">
                                    Nuestra filosofia
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="nosotros.html#nuestraMision">
                                    Nuestro compromiso
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="escuela.html">
                            escuela
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Tienda
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="tienda.html#arboles">
                                    arboles
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="tienda.html#macetas">
                                    macetas
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="tienda.html#herramientas">
                                    herramientas
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="tienda.html#abonos">
                                    abonos
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="tienda.html#sustratos">
                                    Sustratos
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="tienda.html#libros">
                                    libros
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="tienda.html#mesas">
                                    mesas
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="tienda.html#servicios">
                                    servicios
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="tienda.html#fitosanitarios">
                                    fitosanitarios
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">
                            Contacto
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="contenedor-nosotros">
        <!-- slider -->
        <div class="contenedor-slider position-relative" id="">
            <!-- banner 1 -->
            <div class="banner1">
                <img src="../assets/img/estilos/slider/slider-nos-1.png" alt="">
                <div class="text-box w-50">
                    <p class="fs-3">Lorem ipsum dolor sit amet.</p>
                    <span></span>
                    <p class="fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <!-- banner 2 -->
            <div class="banner2 rotate">
                <img src="../assets/img/estilos/slider/slider-nos-2.jpg" alt="">
                <div class="text-box w-50">
                    <p class="fs-3">Lorem ipsum dolor sit amet.</p>
                    <span></span>
                    <p class="fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <!-- banner 3 -->
            <div class="banner3">
                <img src="../assets/img/estilos/slider/slider-nos-3.jpg" alt="">
                <div class="text-box w-50">
                    <p class="fs-3">Lorem ipsum dolor sit amet.</p>
                    <span></span>
                    <p class="fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <!-- banner 4 -->
            <div class="banner4 ">
                <img src="../assets/img/estilos/slider/slider-nos-4.jpg" alt="">
                <div class="text-box w-50">
                    <p class="fs-3">Lorem ipsum dolor sit amet.</p>
                    <span></span>
                    <p class="fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <!-- acorderon nosotros -->
        <div class="row justify-content-center d-sm-none">
            <div class="col-11 col-xl-8 " id="accordionExample">
                <h1 class="text-center mb-3 mt-3">
                    Sobre nosotros
                </h1>
                <!-- item 1-->
                <section class="accordion-item" id="quienesSomos">
                    <h2 class="accordion-header " id="headingOne">
                        <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Quienes somos
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae optio officia
                                aliquam. Rerum autem aliquid enim dolores facere omnis. Eveniet minus culpa voluptatem
                                rem blanditiis inventore repellat quibusdam! Molestias, excepturi.
                                Architecto enim quia numquam cumque deleniti expedita corrupti facere atque nam
                                exercitationem. Magni vitae deserunt perferendis in neque numquam! Minima soluta
                                explicabo esse aliquam. Aspernatur optio magnam unde cumque accusantium!
                                Laboriosam consequuntur provident accusantium sunt officiis. Porro quas sapiente
                                dignissimos, praesentium commodi quia. Eaque tempore natus, nam temporibus consectetur,
                                ratione, ea voluptates quidem alias esse incidunt accusamus saepe facilis perferendis!
                            </p>
                            <button type="button"
                                class="btn btn-outline-primary w-50 py-1">
                                <a class="fs-5 " href="#">
                                    conocer mas
                                </a>
                            </button>
                        </div>
                    </div>
                </section>
                <!-- item 2 -->
                <section class="accordion-item" id="nuestraMision">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Nuestra mision
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, reprehenderit fugit?
                                Et cum unde molestias nobis veritatis corporis aliquam, nam odit dignissimos officiis,
                                voluptate labore provident doloremque distinctio iure debitis.
                                Incidunt, deserunt! Natus aspernatur eos saepe suscipit, consequuntur ipsam, blanditiis
                                fugiat reiciendis quis, illo aut! Cumque alias doloremque assumenda distinctio pariatur
                                laudantium sit eos blanditiis deserunt sunt! Tenetur, ex neque.
                                Ad deleniti omnis necessitatibus minima a esse vitae ut, nihil rerum sunt fuga eveniet
                                nesciunt quae dignissimos accusantium nemo voluptas vel perferendis quam possimus
                                officiis repudiandae? Quaerat ut ratione ab.</p>
                            <button type="button"
                                class="btn btn-outline-primary w-50 py-1 align-self-end button-group ">
                                <a class="fs-5 " href="#">
                                    conocer mas
                                </a>
                            </button>
                        </div>
                    </div>
                </section>
                <!-- item 3 -->
                <section class="accordion-item" id="nuestraFilosofia" >
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Nuestra filosofia
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam non, laborum veritatis
                                laboriosam ducimus voluptatem quibusdam quas dolorum, eveniet iusto pariatur placeat
                                commodi natus temporibus atque incidunt cum unde reiciendis!
                                Ipsa sunt excepturi quaerat itaque corporis quia praesentium facilis inventore
                                exercitationem eaque? Fugit commodi dolorem obcaecati, quisquam, nobis culpa explicabo
                                enim, saepe praesentium temporibus labore veniam exercitationem ipsa at omnis!
                                Alias architecto, optio consectetur facilis sit natus odit itaque ex omnis consequatur
                                exercitationem explicabo fugit sint nemo molestias dolor cupiditate eligendi dicta cum
                                obcaecati, accusamus officiis. Officia impedit vitae necessitatibus..</p>
                            <button type="button"
                                class="btn btn-outline-primary w-50 py-1 align-self-end button-group ">
                                <a class="fs-5 " href="#">
                                    conocer mas
                                </a>
                            </button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
      

        <!-- seccion central nosotros md => xxl -->
        <div class="d-none d-sm-flex flex-column align-items-center mt-5 mb-5">
            <section class="col-8 d-flex flex-column align-items-center" id="quienesSomos">
                <h1 class="fs-2 mb-3 ">
                    QUIENES SOMOS
                </h1>

                <p class="m-0">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis fugiat excepturi
                    dolore
                    velit ex corporis, doloremque eos itaque distinctio labore voluptas consequuntur magnam
                    voluptates omnis praesentium delectus voluptate eveniet sint libero quis placeat nemo
                    doloribus illum! Reprehenderit dolor fuga quibusdam a voluptate! Quos consequatur
                    molestias voluptates omnis praesentium delectus voluptate eveniet sint libero quis placeat nemo
                    doloribus illum! Reprehenderit dolor fuga quibusdam a voluptate! Quos consequatur
                    molesti
                </p>
                <span class="w-75 my-5"></span>
            </section>

            <section class=" col-8 d-flex flex-column align-items-center" id="nuestraMision">
                <h2 class="mb-3">
                    NUESTRA MISION
                </h2>
                <p class="m-0">
                    Lorem ipsum, dolor sit amet
                    consectetur adipisicing elit.
                    Delenti praesentium similique
                    illo eum qui velit repudiandae
                    voluptatum quos ea atque!
                    Lorem ipsum, dolor sit amet
                    consectetur adipisicing elit.
                    Delenti praesentium similique
                    illo eum qui velit repudiandae
                    voluptatum quos ea atque!
                    Delenti praesentium similique
                </p>
                <p>
                    corporis voluptatem magni maiores officiis rem, voluptatum nostrum animi. Dolor ea minus
                    vitae ratione, tempore exercitationem perferendis maiores dicta esse voluptates
                    obcaecati
                </p>
                <span class="w-75 my-5"></span>
            </section>

            <section class="col-8 d-flex flex-column align-items-center" id="nuestraFilosofia">
                <h2 class="mb-3">
                    NUESTRA FILOSOFIA
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt dolorem reiciendis tempore,
                    voluptates
                    molestiae quaerat dolore corrupti hic quae nam necessitatibus quasi quas quod. Consectetur iste,
                    tempora nam aut praesentium quaerat sit odio explicabo pariatur error est obcaecati voluptate
                    dolorem esse iure perferendis numquam veritatis distinctio fugiat ad ipsa delectus.</p>
            </section>
        </div>

        <section class="col-12 py-3 mt-5 frase">
            <p class="text-center m-0">
                ALGUNA FRASE LOREM IPSUM LOREM IPSUM
            </p>
        </section>
    </main>

    <!-- footer -->
    <footer class="d-flex justify-content-evenly align-items-center 
                    justify-content-md-evenly py-4">

        <ul class=" d-flex list-unstyled col-12 justify-content-evenly col-sm-6 col-md-5 m-0">
            <li>
                <a href="https://wa.me/+59896299090" target="_blank" title="whatsapp">
                    <i class="fa-brands fa-whatsapp-square"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com" target="_blank" title="instagram">
                    <i class="fa-brands fa-instagram-square"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com" target="_blank" title="facebook">
                    <i class="fa-brands fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com" target="_blank" title="youtube">
                    <i class="fa-brands fa-youtube-square"></i>
                </a>
            </li>
            <li>
                <a href="mailto:noemail@gmail.com" target="_blank" title="gmail">
                    <i class="fa-solid fa-square-envelope"></i>
                </a>
            </li>
        </ul>

        <address class=" d-flex d-none d-md-flex col-md-3 justify-content-center col-xxl-2 m-0">
            <p class="m-0"> Av. Sin Nombre 555 <br>
                Parque Rodo <br>
                Montevideo, Uruguay. <br>
                Telefono: 555 555 555 <br>
                e-mail: <a href="mailto:noemail@gmail.com"> noemail@gmail.com </a> <br>
            </p>
        </address>

        <iframe class=" d-flex d-none d-sm-flex col-sm-5 col-md-3"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6543.3778420273775!2d-56.17235532155763!3d-34.914255373760234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f81a4e4e649a1%3A0xeeee2dc3874fb014!2sParque%20Rod%C3%B3%2C%20Montevideo%2C%20Departamento%20de%20Montevideo%2C%20Uruguay!5e0!3m2!1ses-419!2sbr!4v1648256069660!5m2!1ses-419!2sbr"
            width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </footer>
    <address class="copy  justify-content-center d-flex align-items-center m-0">
        <p class="m-0">
            &#169; Copyrigth. Todos los derechos reservados
        </p>
    </address>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
</body>

</html>